{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Django Práctica</title>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>
  
  <header>
      
      <div class="ancho">
          <h1>Mis compras</h1>
          <nav>
              <a href="index.html">Todos</a>
              <a href="por-comprar.html">Por comprar</a>
              <a href="comprados.html">Comprados</a>
          </nav>
          <div class="reset"></div>
          
      </div>
      
  </header>
   
    <section class="contenido">
       
       <h1>Todos</h1>
       <table>
           <tr>
               <th>Nombre</th>
               <th>Registrado en</th>
               <th>Comprado en</th>
           </tr>
           <tr>
               <td>Jabon</td>
               <td>01-04-2016</td>
               <td>03-04-2016</td>
           </tr>
           <tr>
               <td>Comida para dragón</td>
               <td>01-04-2016</td>
               <td>03-04-2016</td>
           </tr>
           <tr>
               <td>Papel</td>
               <td>01-04-2016</td>
               <td><a href="comprados.html">Comprado</a></td>
           </tr>
           <tr>
               <td>Shampoo para gato</td>
               <td>28-03-2016</td>
               <td><a href="comprados.html">Comprado</a></td>
           </tr>
           <tr>
               <td>Lap Top HP</td>
               <td>29-03-2016</td>
               <td>02-04-16</td>
           </tr>
           <tr>
               <td>Mascota Django Girls</td>
               <td>29-03-2016</td>
               <td><a href="comprados.html">Comprado</a></td>
           </tr>
           <tr>
               <td>Drone buscador de aviones</td>
               <td>01-03-2016</td>
               <td>01-04-16</td>
           </tr>
           <tr>
               <td>Manual para entrenar dragones</td>
               <td>11-03-2016</td>
               <td>01-04-16</td>
           </tr>
           <tr>
               <td>Beca para taller Djangogirls</td>
               <td>28-03-2016</td>
               <td><a href="comprados.html">Comprado</a></td>
           </tr>
           <tr>
               <td>Arbol de Navidad Verde y Blanco</td>
               <td>5-02-2015</td>
               <td><a href="comprados.html">Comprado</a></td>
           </tr>
       </table>
       
   </section>
   
   <footer>
       DjangoFriends | <a href="giter.com">Giter</a>
   </footer>
    
</body>
</html>
